/*
** PFP - Prefab Paragraphs
**
** Example Styles.
*/

@import 'variables.scss';

/* Text - Columns */
$mincol_width: 16rem;
.paragraphs-item.pfp-col1 {
  .field-name-pfp-text-area {
    columns: 1 $mincol_width;
  }
}
.paragraphs-item.pfp-col2 {
  .field-name-pfp-text-area {
    columns: 2 $mincol_width;
  }
}
.paragraphs-item.pfp-col3 {
  .field-name-pfp-text-area {
    columns: 3 $mincol_width;
  }
}
.paragraphs-item.pfp-col4 {
  .field-name-pfp-text-area {
    columns: 4 $mincol_width;
  }
}
.paragraphs-item.pfp-col5 {
  .field-name-pfp-text-area {
    columns: 5 $mincol_width;
  }
}
.paragraphs-item.pfp-colauto {
  .field-name-pfp-text-area {
    columns: $mincol_width auto;
  }
}

/* Quote */
.paragraphs-item-pfp-quote {
  text-align: center;
  .field-name-pfp-text-area {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .field-name-pfp-credit {
    font-style: italic;
  }
}

/* Image */
.paragraphs-item.fullwidth {
  padding-left: 0;
  padding-right: 0;
}
.field-name-pfp-image {
  img:not(.file-icon) {
    width: 100%;
  }
}
.form-item {
  // Admin/edit page
  .field-name-pfp-image {
    img {
      width: auto;
    }
  }
  .field-name-pfp-video {
    .field-items {
      display: block;
      .field-item {
        min-width: auto;
        width: auto;
        display: inline-block;
      }
    }
  }
}

/* Slider */
.field-name-field-pfp-slider {
  .flexslider {
    border: none;
    background: transparent;
  }
  ul.slides {
    > li {
      .content {
        position: relative;
        .field-name-pfp-text-area {
          position: absolute;
          margin: 2rem;
          top: 20%;
          bottom: 20%;
          right: 20%;
          left: 20%;
          background-color: rgba(0,0,0,0.3);
          color: #fff;
          z-index: 1;
          a {
            color: #fff;
            font-weight: bold;
          }
          .field-item {
            padding: 1rem;
          }
        }
        .field-name-pfp-image {
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

/* Gallery, Video, Viewfield */
.field-name-pfp-gallery, .field-name-pfp-video {
  padding: 2rem 0;
  .field-items {
    display: flex;
    flex-flow: row wrap;
    .field-item {
      flex-grow: 0;
      padding: .25rem;
      margin: 0;
      a {
        display: flex;
      }
    }
  }
}

.paragraphs-item.pfp-col1 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .field-type-viewfield {
    .view {
      .view-content {
        .views-row {
        max-width: 100%;
        width: 100%;
        }
      }
    }
  }
}
.paragraphs-item.pfp-col2 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: calc(100%/2);
        width: calc(100%/2);
      }
    }
  }
  .field-type-viewfield {
    .view {
      .view-content {
        .views-row {
        max-width: calc(100%/2 - 2 * #{$views-row-margin});
        width: calc(100%/2 - 2 * #{$views-row-margin});
        }
      }
    }
  }
}
@media (min-width: $tablet-min) {
  .paragraphs-item.pfp-col3 {
    .field-name-pfp-gallery, .field-name-pfp-video {
      .field-items {
        .field-item {
          max-width: calc(100%/2);
          width: calc(100%/2);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/3 - 2 * #{$views-row-margin});
          width: calc(100%/3 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
  .paragraphs-item.pfp-col4 {
    .field-name-pfp-gallery, .field-name-pfp-video, .field {
      .field-items {
        .field-item {
          max-width: calc(100%/2);
          width: calc(100%/2);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/2 - 2 * #{$views-row-margin});
          width: calc(100%/2 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
  .paragraphs-item.pfp-col5 {
    .field-name-pfp-gallery, .field-name-pfp-video, .field {
      .field-items {
        .field-item {
          max-width: calc(100%/2);
          width: calc(100%/2);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/2 - 2 * #{$views-row-margin});
          width: calc(100%/2 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
}
@media (min-width: $wide-min) {
  .paragraphs-item.pfp-col3 {
    .field-name-pfp-gallery, .field-name-pfp-video {
      .field-items {
        .field-item {
          max-width: calc(100%/3);
          width: calc(100%/3);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/3 - 2 * #{$views-row-margin});
          width: calc(100%/3 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
  .paragraphs-item.pfp-col4 {
    .field-name-pfp-gallery, .field-name-pfp-video, .field {
      .field-items {
        .field-item {
          max-width: calc(100%/4);
          width: calc(100%/4);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/4 - 2 * #{$views-row-margin});
          width: calc(100%/4 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
  .paragraphs-item.pfp-col5 {
    .field-name-pfp-gallery, .field-name-pfp-video, .field {
      .field-items {
        .field-item {
          max-width: calc(100%/5);
          width: calc(100%/5);
        }
      }
    }
    .field-type-viewfield {
      .view {
        .view-content {
          .views-row {
          max-width: calc(100%/5 - 2 * #{$views-row-margin});
          width: calc(100%/5 - 2 * #{$views-row-margin});
          }
        }
      }
    }
  }
}
.paragraphs-item.pfp-colauto {
  .field-name-pfp-gallery, .field-name-pfp-video {
    columns: $mincol_width auto;
    width: auto;
  }
  .field-type-viewfield {
    columns: $mincol_width auto;
    width: auto;
  }
}
.paragraphs-item.pfp-col1,
.paragraphs-item.pfp-col2,
.paragraphs-item.pfp-col3,
.paragraphs-item.pfp-col4,
.paragraphs-item.pfp-col5 {
  .field {
    .field-items {
      .field-item {
        .field-items {
          .field-item {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .field-name-pfp-section-title {
    .field-items {
      .field-item {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
.paragraphs-item {
  .field.field-type-viewfield {
    .field-items {
      .field-item {
        width: 100%;
        max-width: 100%;
      }
    }
    .view {
      .view-content {
        display: flex;
        flex-flow: row wrap;
        .views-row {
          flex-grow: 1;
          padding: .25rem;
          margin:  $views-row-margin;
        }
      }
    }
  }
}

/* Video */
.field-name-pfp-video {
  .field-items {
    .field-item {
      flex-grow: 1;
      .player {
        text-align: center;
        min-width: calc(100%/5);
      }
    }
  }
}

/* Background Color */
.paragraphs-item.greybg {
  background-color: #efefef;
}

/* Width */
.paragraphs-item.fullwidth, .paragraphs-item.contained {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 1.5rem;
}
.paragraphs-item.fullwidth {
  padding: 0;
}
.paragraphs-modal-admin-sort-form, .field-multiple-drag, table.tabledrag-processed.tabledrag-handles-shown {
  .paragraphs-item.fullwidth, .paragraphs-item.contained {
    width: max-content;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem;
  }
  .field-name-pfp-image img {
    width: auto;
    max-width: 100%;
  }
}
.paragraphs-item.contained {
  > .content {
    width: $contained-width;
    margin: 0 auto;
  }
}
@media (min-width: $tablet-min) {
  $contained-width: calc(34rem - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $desktop-min) {
  $contained-width: calc(45rem - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $wide-min) {
  $contained-width: calc(60rem - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $container-max) {
  $contained-width: calc(72.25rem - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}

