/*
** PFP - Prefab Paragraphs
**
** Example Styles.
*/
/* Breakpoints - to match grid-flexbox.css */
/* Text - Columns */
.paragraphs-item.pfp-col1 .field-name-pfp-text-area {
  -webkit-columns: 1 16rem;
          columns: 1 16rem;
}

.paragraphs-item.pfp-col2 .field-name-pfp-text-area {
  -webkit-columns: 2 16rem;
          columns: 2 16rem;
}

.paragraphs-item.pfp-col3 .field-name-pfp-text-area {
  -webkit-columns: 3 16rem;
          columns: 3 16rem;
}

.paragraphs-item.pfp-col4 .field-name-pfp-text-area {
  -webkit-columns: 4 16rem;
          columns: 4 16rem;
}

.paragraphs-item.pfp-col5 .field-name-pfp-text-area {
  -webkit-columns: 5 16rem;
          columns: 5 16rem;
}

.paragraphs-item.pfp-colauto .field-name-pfp-text-area {
  -webkit-columns: 16rem auto;
          columns: 16rem auto;
}

.paragraphs-item.pfp-col2 p,
.paragraphs-item.pfp-col3 p,
.paragraphs-item.pfp-col4 p,
.paragraphs-item.pfp-col5 p,
.paragraphs-item.pfp-colauto p {
  margin-top: 0;
}

/* Quote */
.paragraphs-item-pfp-quote {
  text-align: center;
}

.paragraphs-item-pfp-quote .field-name-pfp-text-area {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.paragraphs-item-pfp-quote .field-name-pfp-credit {
  font-style: italic;
}

/* Image */
.paragraphs-item.fullwidth {
  padding-left: 0;
  padding-right: 0;
}

.field-name-pfp-image img:not(.file-icon) {
  width: 100%;
}

.form-item .field-name-pfp-image img {
  width: auto;
}

.form-item .field-name-pfp-video .field-items {
  display: block;
}

.form-item .field-name-pfp-video .field-items .field-item {
  min-width: auto;
  width: auto;
  display: inline-block;
}

/* Slider */
.field-name-field-pfp-slider .flexslider {
  border: none;
  background: transparent;
}

.field-name-field-pfp-slider ul.slides > li .content {
  position: relative;
}

.field-name-field-pfp-slider ul.slides > li .content .field-name-pfp-text-area {
  position: absolute;
  margin: 2rem;
  top: 20%;
  bottom: 20%;
  right: 20%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  z-index: 1;
}

.field-name-field-pfp-slider ul.slides > li .content .field-name-pfp-text-area a {
  color: #fff;
  font-weight: bold;
}

.field-name-field-pfp-slider ul.slides > li .content .field-name-pfp-text-area .field-item {
  padding: 1rem;
}

.field-name-field-pfp-slider ul.slides > li .content .field-name-pfp-image {
  position: relative;
  z-index: 0;
}

/* Gallery, Video, Viewfield */
.field-name-pfp-gallery, .field-name-pfp-video {
  padding: 2rem 0;
}

.field-name-pfp-gallery .field-items, .field-name-pfp-video .field-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.field-name-pfp-gallery .field-items .field-item, .field-name-pfp-video .field-items .field-item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: .25rem;
  margin: 0;
}

.field-name-pfp-gallery .field-items .field-item a, .field-name-pfp-video .field-items .field-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paragraphs-item.pfp-col1 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col1 .field-name-pfp-video .field-items .field-item {
  max-width: 100%;
  width: 100%;
}

.paragraphs-item.pfp-col1 .field-type-viewfield .view .view-content .views-row {
  max-width: 100%;
  width: 100%;
}

.paragraphs-item.pfp-col2 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col2 .field-name-pfp-video .field-items .field-item {
  min-width: calc(100%/2);
  width: calc(100%/2);
}

.paragraphs-item.pfp-col2 .field-type-viewfield .view .view-content .views-row {
  min-width: calc(100%/2- 1rem);
  width: calc(100%/2  - 1rem);
}

@media (min-width: 34em) {
  .paragraphs-item.pfp-col3 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col3 .field-name-pfp-video .field-items .field-item {
    min-width: calc(100%/2);
    width: calc(100%/2);
  }
  .paragraphs-item.pfp-col3 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/3 - 2 * 1rem);
    width: calc(100%/3  - 2 * 1rem);
  }
  .paragraphs-item.pfp-col4 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col4 .field-name-pfp-video .field-items .field-item, .paragraphs-item.pfp-col4 .field .field-items .field-item {
    min-width: calc(100%/2);
    width: calc(100%/2);
  }
  .paragraphs-item.pfp-col4 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/2 - 1rem);
    width: calc(100%/2 - 1rem);
  }
  .paragraphs-item.pfp-col5 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col5 .field-name-pfp-video .field-items .field-item, .paragraphs-item.pfp-col5 .field .field-items .field-item {
    min-width: calc(100%/2);
    width: calc(100%/2);
  }
  .paragraphs-item.pfp-col5 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/2 - 1rem);
    width: calc(100%/2 - 1rem);
  }
}

@media (min-width: 62em) {
  .paragraphs-item.pfp-col3 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col3 .field-name-pfp-video .field-items .field-item {
    min-width: calc(100%/3);
    width: calc(100%/3);
  }
  .paragraphs-item.pfp-col3 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/3 - 2 * 1rem);
    width: calc(100%/3  - 2 * 1rem);
  }
  .paragraphs-item.pfp-col4 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col4 .field-name-pfp-video .field-items .field-item, .paragraphs-item.pfp-col4 .field .field-items .field-item {
    min-width: calc(100%/4);
    width: calc(100%/4);
  }
  .paragraphs-item.pfp-col4 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/4 - 3 * 1rem);
    width: calc(100%/4  - 3 * 1rem);
  }
  .paragraphs-item.pfp-col5 .field-name-pfp-gallery .field-items .field-item, .paragraphs-item.pfp-col5 .field-name-pfp-video .field-items .field-item, .paragraphs-item.pfp-col5 .field .field-items .field-item {
    min-width: calc(100%/5);
    width: calc(100%/5);
  }
  .paragraphs-item.pfp-col5 .field-type-viewfield .view .view-content .views-row {
    min-width: calc(100%/5 - 4 * 1rem);
    width: calc(100%/5 - 4 * 1rem);
  }
}

.paragraphs-item.pfp-colauto .field-name-pfp-gallery, .paragraphs-item.pfp-colauto .field-name-pfp-video {
  -webkit-columns: 16rem auto;
          columns: 16rem auto;
  width: auto;
}

.paragraphs-item.pfp-colauto .field-type-viewfield {
  -webkit-columns: 16rem auto;
          columns: 16rem auto;
  width: auto;
}

.paragraphs-item.pfp-col1 .field .field-items .field-item .field-items .field-item,
.paragraphs-item.pfp-col2 .field .field-items .field-item .field-items .field-item,
.paragraphs-item.pfp-col3 .field .field-items .field-item .field-items .field-item,
.paragraphs-item.pfp-col4 .field .field-items .field-item .field-items .field-item,
.paragraphs-item.pfp-col5 .field .field-items .field-item .field-items .field-item {
  max-width: 100%;
  width: 100%;
}

.paragraphs-item.pfp-col1 .field-name-pfp-section-title .field-items .field-item,
.paragraphs-item.pfp-col2 .field-name-pfp-section-title .field-items .field-item,
.paragraphs-item.pfp-col3 .field-name-pfp-section-title .field-items .field-item,
.paragraphs-item.pfp-col4 .field-name-pfp-section-title .field-items .field-item,
.paragraphs-item.pfp-col5 .field-name-pfp-section-title .field-items .field-item {
  max-width: 100%;
  width: 100%;
}

.paragraphs-item .field.field-type-viewfield .field-items .field-item {
  width: 100%;
  max-width: 100%;
}

.paragraphs-item .field.field-type-viewfield .view .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
}

.paragraphs-item .field.field-type-viewfield .view .view-content .views-row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
}

/* Video */
.field-name-pfp-video .field-items .field-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.field-name-pfp-video .field-items .field-item .player {
  text-align: center;
  min-width: calc(100%/5);
}

/* Callout */
@media (min-width: 48em) {
  .paragraphs-item-pfp-callout .content {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "left right";
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
  }
  .paragraphs-item-pfp-callout .content .field {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .paragraphs-item-pfp-callout .content .field-name-pfp-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
    margin-left: 0;
  }
  .paragraphs-item-pfp-callout.pfp-right .content {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
  .paragraphs-item-pfp-callout.pfp-right .content .field {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .paragraphs-item-pfp-callout.pfp-right .content .field-name-pfp-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right;
    margin-right: 0;
  }
}

.button a {
  color: #fff;
  text-decoration: none;
}

/* Tilesets */
.tile {
  margin-top: .25rem;
  background-color: transparent;
  width: 100%;
  min-height: 240px;
  height: 100%;
  border: none;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.tile .tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 240px;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* Position the front and back side */
  /* Style the front side */
  /* Style the back side */
}

.tile .tile-inner .front,
.tile .tile-inner .back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 1.5rem;
}

.tile .tile-inner .front h2,
.tile .tile-inner .back h2 {
  font-size: 1.4rem;
}

.tile .tile-inner .front h3,
.tile .tile-inner .back h3 {
  font-size: 1.2rem;
}

.tile .tile-inner .front a,
.tile .tile-inner .front a:link,
.tile .tile-inner .front a:hover,
.tile .tile-inner .back a,
.tile .tile-inner .back a:link,
.tile .tile-inner .back a:hover {
  text-decoration: none;
  color: #000;
}

.tile .tile-inner .front p,
.tile .tile-inner .back p {
  font-size: .8rem;
}

.tile .tile-inner .front {
  background-color: #777777;
  color: #fff;
  padding-top: 2.5rem;
}

.tile .tile-inner .back {
  background-color: #efefef;
  color: #000;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media all and (min-width: 62em) {
  .paragraphs-item-pfp-tile-set.field-type-paragraphs .field-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .paragraphs-item-pfp-tile-set.field-type-paragraphs .field-items .field-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    padding: 0;
  }
  .paragraphs-item-pfp-tile-set.field-type-paragraphs .field-items .field-item .tile {
    padding: 1rem;
  }
  .paragraphs-item-pfp-tile-set.field-type-paragraphs .field-items .field-item:first-child .tile {
    padding-left: 0;
  }
  .paragraphs-item-pfp-tile-set.field-type-paragraphs .field-items .field-item:last-child .tile {
    padding-right: 0;
  }
}

/* Background Color */
.paragraphs-item.greybg {
  background-color: #efefef;
}

/* Width */
.paragraphs-item.fullwidth, .paragraphs-item.contained {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 1.5rem;
}

.paragraphs-item.fullwidth {
  padding: 0;
}

.paragraphs-modal-admin-sort-form .paragraphs-item.fullwidth, .paragraphs-modal-admin-sort-form .paragraphs-item.contained, .field-multiple-drag .paragraphs-item.fullwidth, .field-multiple-drag .paragraphs-item.contained, table.tabledrag-processed.tabledrag-handles-shown .paragraphs-item.fullwidth, table.tabledrag-processed.tabledrag-handles-shown .paragraphs-item.contained {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem;
}

.paragraphs-modal-admin-sort-form .field-name-pfp-image img, .field-multiple-drag .field-name-pfp-image img, table.tabledrag-processed.tabledrag-handles-shown .field-name-pfp-image img {
  width: auto;
  max-width: 100%;
}

.paragraphs-item.contained > .content {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 34em) {
  .paragraphs-item.contained > .content {
    width: calc(34rem - 2*(.9375rem));
    margin: 0 auto;
  }
}

@media (min-width: 48em) {
  .paragraphs-item.contained > .content {
    width: calc(45rem - 2*(.9375rem));
    margin: 0 auto;
  }
}

@media (min-width: 62em) {
  .paragraphs-item.contained > .content {
    width: calc(60rem - 2*(.9375rem));
    margin: 0 auto;
  }
}

@media (min-width: 75em) {
  .paragraphs-item.contained > .content {
    width: calc(72.25rem - 2*(.9375rem));
    margin: 0 auto;
  }
}

/* Admin tweak for sticky header tables */
.field-type-paragraphs table.sticky-enabled {
  max-width: 100%;
  display: block;
}

.field-type-paragraphs table.sticky-enabled tr {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.field-type-paragraphs table.sticky-enabled tr td {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.field-type-paragraphs table.sticky-enabled tr table.sticky-enabled td:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 65%;
}
/*# sourceMappingURL=pfp.css.map */