/* Prefab Paragraphs */

@import 'variables.scss';

/* Text - Columns */
$mincol_width: 16rem;
.paragraphs-item.pfp-col1 {
  .field-name-pfp-text-area {
    columns: 1 $mincol_width;
  }
}
.paragraphs-item.pfp-col2 {
  .field-name-pfp-text-area {
    columns: 2 $mincol_width;
  }
}
.paragraphs-item.pfp-col3 {
  .field-name-pfp-text-area {
    columns: 3 $mincol_width;
  }
}
.paragraphs-item.pfp-col4 {
  .field-name-pfp-text-area {
    columns: 4 $mincol_width;
  }
}
.paragraphs-item.pfp-col5 {
  .field-name-pfp-text-area {
    columns: 5 $mincol_width;
  }
}
.paragraphs-item.pfp-colauto {
  .field-name-pfp-text-area {
    columns: $mincol_width auto;
  }
}

/* Image */
.paragraphs-item.fullwidth {
  padding-left: 0;
  padding-right: 0;
}
.field-name-pfp-image {
  img {
    width: 100%;
  }
}
#field-paragraphs-add-more-wrapper {
  // Admin page
  .field-name-pfp-image {
    img {
      width: auto;
    }
  }
  .field-name-pfp-video {
    .field-items {
      display: block;
      .field-item {
        min-width: auto;
        width: auto;
        display: inline-block;
      }
    }
  }
}

/* Gallery, Video */
.field-name-pfp-gallery, .field-name-pfp-video {
  padding: 2rem 0;
  .field-items {
    display: flex;
    flex-flow: row wrap;
    .field-item {
      flex-grow: 0;
      padding: .25rem;
      a {
        display: flex;
      }
    }
  }
}
.paragraphs-item.pfp-col1 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
.paragraphs-item.pfp-col2 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: calc(100%/2);
        width: calc(100%/2);
      }
    }
  }
}
.paragraphs-item.pfp-col3 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: calc(100%/3);
        width: calc(100%/3);
      }
    }
  }
}
.paragraphs-item.pfp-col4 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: calc(100%/4);
        width: calc(100%/4);
      }
    }
  }
}
.paragraphs-item.pfp-col5 {
  .field-name-pfp-gallery, .field-name-pfp-video {
    .field-items {
      .field-item {
        max-width: calc(100%/5);
        width: calc(100%/5);
      }
    }
  }
}
.paragraphs-item.pfp-colauto {
  .field-name-pfp-gallery, .field-name-pfp-video {
    columns: $mincol_width auto;
    width: auto;
  }
}

/* Video */
.field-name-pfp-video {
  .field-items {
    .field-item {
      flex-grow: 1;
      .player {
        text-align: center;
        min-width: calc(100%/5);
      }
    }
  }
}



/* Background Color */
.paragraphs-item.greybg {
  background-color: #efefef;
}

/* Width */
.paragraphs-item.fullwidth, .paragraphs-item.contained {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 1.5rem;
}
.paragraphs-item.contained {
  > .content {
    width: $contained-width;
    margin: 0 auto;
  }
}
@media (min-width: $tablet-min) {
  $contained-width: calc(34em - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $desktop-min) {
  $contained-width: calc(45em - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $wide-min) {
  $contained-width: calc(60em - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}
@media (min-width: $container-max) {
  $contained-width: calc(72.25em - 2*(.9375rem));
  .paragraphs-item.contained {
    > .content {
      width: $contained-width;
      margin: 0 auto;
    }
  }
}

