/* Prefab Paragraphs */

/* Text - Columns */
.paragraphs-item.pfp-col1 {
  .field-name-pfp-text-area {
    columns: 1;
  }
}
.paragraphs-item.pfp-col2 {
  .field-name-pfp-text-area {
    columns: 2;
  }
}
.paragraphs-item.pfp-col3 {
  .field-name-pfp-text-area {
    columns: 3;
  }
}
.paragraphs-item.pfp-col4 {
  .field-name-pfp-text-area {
    columns: 4;
  }
}
.paragraphs-item.pfp-col5 {
  .field-name-pfp-text-area {
    columns: 5;
  }
}
.paragraphs-item.pfp-colauto {
  .field-name-pfp-text-area {
    columns: 16rem auto;
  }
}
