/* Breakpoints - to match grid-flexbox.css */

$tablet-min: 34em;
$desktop-min: 48em;
$wide-min: 62em;
$container-max: 75em;

$contained-width: 100%;

$views-row-margin: 1rem;

$color1: #efefef;
$color2: #777777;
